*{
    margin: 0;
    padding: 0;
}



.btn{
    background-color: black;
    color:white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 20px;
}

.center{
    text-align: center;
    
}

.flex{
 display: flex;
 justify-content: space-between;
 gap: 50px;
 padding: 20px 30px;
}

.btn-sub{
    border: none;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
}



.ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}



.ul li{
    list-style: none;

}
ul li button{
    border: none;
    padding: 10px 20px;
    border: 2px solid gainsboro;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
}




/* banner section  */
.banner{
    background-image: url("./assets/Hero-bg.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenar{
    
    text-align: center;
    width: 50%;
}
.contenar-titel{
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
}
.contenar-discription{
    text-align: justify;
    margin-top: 20px;
}



/* devoloper section */

.developmet{
    width: 70%;
    background-color:#E5E5E5 ;
    margin: 0 auto;
    margin-top: 100px;
    padding:60px 80px ;
    
}

.developmet-titel{
    font-size: 35px;
    margin-bottom: 20px;

}
.change{
    margin-top: 60px;
    background-color:whitesmoke;
  border-radius: 10px;
  padding: 25px 40px;
}
.codig-sub{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 10px 0;
}

.codig-distrivition{
    text-align: justify;
    font-size: 20px;
    margin: 10px 0;

}
.help{
    display: flex;
    margin-top: 60px;
    background-color:whitesmoke;
  border-radius: 10px;
  padding: 25px 40px;
}

.target{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding:60px 80px ;
}
.inspiration{
    margin-top: 100px;
}
.video{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  
   
}
iframe{
    border: 2px solid gainsboro;
    padding: 15px;
    border-radius: 10px;
}

.skills-titel{
    margin-top: 10px;
    margin-bottom: 10px;
}
.skills-discribtion{
    margin-bottom: 20px;
    text-align: justify;
}
.html{
    padding:20px ;
    border-radius: 10px;
   
    background-color: pink;
}
.css{
    padding:20px ;
    border-radius: 10px;
    background-color:lightskyblue;
}
.java{
    padding:20px ;
    border-radius: 10px;
    background-color: lightyellow;
}




.support{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),  url("./assets/handshake.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
border-radius: 10px;
}
.need{
    width: 70%;
    margin: 0 auto;
}
.support-titel{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.support-distriviton{
    text-align: justify;
    padding: 10px 0;
    color: white;
    margin-bottom: 20px;
}
input{
    padding: 10px 15px;
    width: 70%;
    border-radius: 10px;
    border: none;
    
}
.input button{
    padding: 5px 20px;
border: none;
font-weight: bold;
font-size: 20px;
border-radius: 10px;
background-color: white;


}

.commitment{
    margin-top: 40px;
    background-color: #E5E5E5;
   
}

.open{
    width: 85%;
    margin: 0 auto;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}